# Binaries for programs, uncommited generated code and plugins
cmd/adsysd/adsysd
cmd/admxgen/admxgen
cmd/adwatchd/adwatchd
generated/
__pycache__/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
coverage/
*.out

# Dependency directories
vendor/
vendor_rust/

# Package artefacts
obj-x86_64-linux-gnu/
installer/Output

# Various cruft to not consider by default
*.log
.vscode/

# Packaging artefacts
debian/*debhelper*
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/tmp
debian/adsys
debian/adsys-windows

# Local testing
/adsysd
/adsysctl
/adsys.yaml
