# Binaries for programs, uncommited generated code and plugins
cmd/adsysd/adsysd
generated/
internal/ad/admxgen/admxgen
__pycache__/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
coverage/
*.out

# Dependency directories
vendor/

# Package artefacts
obj-x86_64-linux-gnu/

# Various cruft to not consider by default
*.log
.vscode/

# Packaging artefacts
debian/*debhelper*
debian/adsys*
debian/debhelper-build-stamp
debian/files

# Local testing
/adsysd
/adsysctl
/adsys.yaml
