[Unit]
Description=Socket activation for ADSys daemon
PartOf=adsysd.service

[Socket]
ListenStream=/run/adsysd.sock

[Install]
WantedBy=sockets.target
