[Unit]
Description=Allow /run/adsys to execute binaries: machine and user scripts are downloaded there
Before=adsys-boot.service

[Mount]
What=tmpfs
Where=/run/adsys
Type=tmpfs
Options=nosuid,nodev,mode=0755
ReadWriteOnly=true
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
