[Unit]
Description=ADSys user mount handler
After=network-online.service
ConditionPathExists=/run/adsys/users/%U/mounts

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/adsysd mount /run/adsys/users/%U/mounts

[Install]
WantedBy=graphical-session.target
