:root {
  --icon--ubuntu-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 770 740"><path d="m563.08 0a109.03 109.03 0 0 0-109.03 109.03 109.03 109.03 0 0 0 109.03 109.03 109.03 109.03 0 0 0 109.03-109.03 109.03 109.03 0 0 0-109.03-109.03zm-149.94 11.041c-127.85-0.73526-248.92 68.462-312.53 180.7 2.767-0.1518 5.5348-0.22605 8.3047-0.22461a157.35 157.35 0 0 1 82.6167 23.545 265.91 265.91 0 0 1 214.11-114.51 158.09 158.09 0 0 1 167.076-88.42c-8.5689-0.6786-17.123-1.0389-25.646-1.0879zm294.97 159.68a157.14 157.14 0 0 1-61.311 71.803 267.29 267.29 0 0 1-8.7363 265.49 156.35 156.35 0 0 1 52.172 81.227 356.7 356.7 0 0 0 17.875-418.52zm-599.08 68.344a109.03 109.03 0 0 0-109.03 109.03 109.03 109.03 0 0 0 109.03 109.03 109.03 109.03 0 0 0 109.03-109.03 109.03 109.03 0 0 0-109.03-109.03zm64.822 251.52a156.95 156.95 0 0 1-93.219 11.459 354.94 354.94 0 0 0 255.54 214.16 359.21 359.21 0 0 0 77.418 7.9668 156 156 0 0 1-31.922-91.154c-8.9797-0.9975-17.949-2.4556-26.744-4.16779a265.52 265.52 0 0 1-181.07-138.1zm364.67 29.672a109.03 109.03 0 0 0-109.03 109.03 109.03 109.03 0 0 0 109.03 109.03 109.03 109.03 0 0 0 109.03-109.03 109.03 109.03 0 0 0-109.03-109.03z"/></svg>');
}
.admonition.pro-block {
  border-color: #AEA79F;
}
.admonition.pro-block > .admonition-title {
  background-color: rgba(174, 167, 159, 0.42);
  border-color: rgb(174, 167, 159);
}
.admonition.pro-block > .admonition-title::before {
  background-color: #E95420;
  -webkit-mask-image: var(--icon--ubuntu-icon);
  mask-image: var(--icon--ubuntu-icon);
}
